<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}UK Gov Comms{% endblock %}</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="page">
      <header>
        <div class="title-bar">
          <img src="{{ url_for('static', filename='images/tower.png') }}" alt="UK Gov Comms logo" class="logo">
          <h1 class="site-title">UK Gov Comms</h1>
        </div>
        
      <div class="signature-rotator">
          <div class="rotator-inner">
              <div class="rotator-label">Principles signed by:</div>
              <div class="rotator-values" id="rotator">
                  {% for sig in signatures %}
                      <span class="signature-item">{{sig }}</span>
                  {% endfor %}
              </div>
          </div>
      </div>

        <nav>
          <div class="nav-inner">
              <a href="{{ url_for('home') }}" class="{% if active_page == 'home' %}active{% endif %}">Home</a>
              <a href="{{ url_for('bestpractice') }}" class="{% if active_page == 'bestpractice' %}active{% endif %}">Best practice</a>
              <a href="{{ url_for('dataviz') }}" class="{% if active_page == 'dataviz' %}active{% endif %}">Dataviz</a>
              <a href="{{ url_for('signatories') }}" class="{% if active_page == 'signatories' %}active{% endif %}">Signatories</a>
              <a href="{{ url_for('tbd') }}" class="{% if active_page == 'tbd' %}active{% endif %}">TBD!</a>
              &nbsp;|&nbsp;
              <a href="https://bsky.app/profile/ukgovcomms.bsky.social" target="_blank">Our Bluesky account</a>
          </div>
        </nav>
      </header>

      <main>
          {% block content %}{% endblock %}
      </main>

      <footer>
          <div class="footer-inner">
              <p>&copy; 2025 <a href="https://bowsy.co.uk/">David Durant</a>. </p>
          </div>
      </footer>

    </div>
</body>

<script src="{{ url_for('static', filename='signature-rotator.js') }}"></script>

</html>
