{% extends "base.html" %}

{% block title %}TBD{% endblock %}

{% block content %}
    <h1>TBD page!</h1>

<pre>
Main page:
	* Work out what to do with the existing short and long docs
	* https://www.linkedin.com/pulse/building-review-apps-how-govuk-forms-improved-feedback-kelvin-gan-ris4e (because on LinkedIn)
	* Principles
		* Post in healthy spaces (Bluesky not Twitter)
		* Post often
		* Delegate trust
		* Surface the process - individual and aggrigate (see PlatformLand)
		* Solicit and share feedback
		* Video
		* Transparency standards as part of the Service Standard
	* Sign form (just emails me)
	
Best practice
	* GDS / DSIT newsletters
	* RSS feed on main page
	* Toggle types - blogs, newsletters(?), podcasts and video for now
	* When use admin page to add something automatically post it on the Bluesky account!

Data page (graph of posts from RSS (pick up to 4 from list?) - see my list of feeds) -- Terrance

+++
Keep a separate list people we'd like sign?
Rachel
Labour Together?
Jeni
Ben Holiday - see this : https://benholliday.com/2025/04/11/networked-responsibility/
CAMRi (University of Westminster)
People in WhatsApp group
Hilary Cottam
People I follow on Bluesky
Etc
+++
    
</pre>
{% endblock %}
