{% extends "base.html" %}

{% block title %}TBD{% endblock %}

{% block content %}
    <h1>TBD page!</h1>

<pre>
Header:
  * Rotating signatories!

Main page:
	* Work out what to do with the existing short and long docs
	* Principles
		* Post in healthy spaces (Bluesky not Twitter)
		* Post often
		* Delegate trust
		* Surface the process - individual and aggrigate (see PlatformLand)
		* Solicit and share feedback
		* Video
		* Transparency standards as part of the Service Standard
	* Sign form (just emails me)
	* Bluesky (latest post containing #ukgovcomms plus link to new tab with search on hashtag) -- See below!!
	
Best practice
	* GDS / DSIT newsletters
	* MHCLG
	* RSS feed!
	* What else?

Issues page?
	* https://www.linkedin.com/pulse/building-review-apps-how-govuk-forms-improved-feedback-kelvin-gan-ris4e (because on LinkedIn)

Video page
	* Link to old GDS videos

Data page (graph of posts from RSS (pick up to 4 from list?) - see my list of feeds) -- Terrance

Signatories page

+++
Keep a separate list people we'd like sign?
Rachel
Labour Together?
Jeni
CAMRi (University of Westminster)
People in WhatsApp group
Hilary Cottam
People I follow on Bluesky
Etc
+++
    
</pre>
{% endblock %}
