{% extends "base.html" %}

{% block title %}TBD{% endblock %}

{% block content %}
    <h1>TBD page!</h1>

<pre>
Main page:
  * https://www.instituteforgovernment.org.uk/comment/government-ban-public-servants-speaking-public
  * Work out what to do with the existing short and long docs
	* https://www.linkedin.com/pulse/building-review-apps-how-govuk-forms-improved-feedback-kelvin-gan-ris4e (because on LinkedIn)
	* Principles
		* Post in healthy spaces (Bluesky not Twitter)
		* Post often
		* Delegate trust
		* Surface the process - individual and aggrigate (see PlatformLand)
		* Solicit and share feedback
		* Video
		* Transparency standards as part of the Service Standard
	* Sign form (just emails me)
	* Should this include standard press releases or just mention / link to that / those RSS(s) and explain how this is different?
	* https://workspace.google.com/products/vids for animatic videos?
	* https://bsky.app/profile/jukes.ie/post/3lsizodvh3c24
	* https://www.linkedin.com/posts/policy-lab-uk_civilservice-ukcivilservice-government-activity-7343930321999921153-SQ4Z/
	* 'This is the approval/guidance they got from their comms team: "They are happy for me to do a presentation, but without a Q&A. They also ask that Apolitical not publish the recording of the event externally or publish posts on social media that feature me or what I said."'
	* https://hodigital.blog.gov.uk/2025/07/09/launching-the-home-office-2030-digital-strategy/
	* IFG THING!!!
	
Best practice
	* GDS / DSIT newsletters
	* RSS feed on main page
	* Toggle types - blogs, newsletters(?), podcasts and video for now
	* When use admin page to add something automatically post it on the Bluesky account!
	* https://www.gov.uk/algorithmic-transparency-records/hmrc-ask-hmrc-online
	* https://enablingdigitalidentity.blog.gov.uk/2025/06/26/sharing-the-final-gamma-0-4-trust-framework-and-updated-supplementary-codes/
	* Go through all my RSS feeds obviously
	* https://weeknot.es/weeknotes-s07e15-d6fa7760456c
	* https://bsky.app/profile/jukes.ie/post/3lsizodvh3c24 !!
	* https://lizlutgendorff.substack.com/p/the-tangled-undergrowth-of-complexity
	* https://dfedigital.blog.gov.uk/2025/07/03/using-research-crits-to-improve-our-work/
	* https://publicpolicydesign.blog.gov.uk/2025/07/07/taking-policy-design-to-a-global-public-audience/

Data page (graph of posts from RSS (pick up to 4 from list?) - see my list of feeds) -- Terrance

+++
Keep a separate list people we'd like sign?
Rachel
Labour Together?
Jeni
Ben Holiday - see this : https://benholliday.com/2025/04/11/networked-responsibility/
CAMRi (University of Westminster)
People in WhatsApp group
Hilary Cottam
People I follow on Bluesky
Etc
+++
    
</pre>
{% endblock %}
